/* A BIT OF TYPOGRAPHY */

body
{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: black;
}
* {
  margin:0px;
  padding:0px;
  font-family:'Open Sans', sans-serif;
}
.nav {
  list-style-type:none;
  display:flex;
  flex-wrap: nowrap;
  width:100%;
  background:#222;
}
.navItem, .navItem a {
  display:inline-block;
  flex-grow: 1;
}
.navItem a {
  width:100%;
  padding-top:30px;
  padding-bottom:30px;
  color:white;
  text-decoration:none;
  text-align:center;
  text-shadow: 1px 1px 2px rgba(34,34,34,0.4);
  font-weight:600;
  font-size:18px;
}
.navItem:nth-of-type(1) {
  border-bottom:2px solid #e42618;
}
.navItem:nth-of-type(1) a:hover {
  background:#e42618;
}
.navItem:nth-of-type(2) {
  border-bottom:2px solid #e42618;
}
.navItem:nth-of-type(2) a:hover {
  background:#e42618;
}
.navItem:nth-of-type(3) {
  border-bottom:2px solid #e42618;
}
.navItem:nth-of-type(3) a:hover {
  background:#e42618;
}
.navItem:nth-of-type(4) {
  border-bottom:2px solid #e42618;
}
.navItem:nth-of-type(4) a:hover {
  background:#e42618;
}
.navItem:nth-of-type(5) {
  border-bottom:2px solid #e42618;
}
.navItem:nth-of-type(5) a:hover {
  background:#e42618;
}
.navItem:nth-of-type(6) {
  border-bottom:2px solid #e42618;
}
.navItem:nth-of-type(6) a:hover {
  background:#e42618;
}


<<<<<<< Updated upstream
=======
.title {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		color: white;
		position: absolute;
		display: flex;
		justify-content: center;
		align-self: center;
		margin: auto;
		width: 400px;
}

.stream{
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
>>>>>>> Stashed changes

h2 {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		color: white;
		position: absolute;
		display: flex;
		justify-content: center;
		align-self: center;
		margin: auto;
}

h1, h3
{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: black;
}



b
{
	font-weight: 700;
}

p
{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: white;
}

/* CENTRED CONTENT */

.content
{
	margin: 2em auto;
	max-width: 40em;
	padding: 0 1em;
}

/* LOGO */

.logo
{

	left:0;
	top:0;
	width: 50%;
}


.logo img
{
	width: 20%;
	left:0;
	top:0;
}

/* FULL-SIZE IMAGES */

html, body
{
	height: 100%;
}

.full
{
	height: 100%;
	background-color: black;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

#one
{
	background-image: url(../images/hero-image-top.jpg);
}

.title {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: bolder;
		color: white;
		position: absolute;
		bottom: 200px;
		left: 600px;
		font-size: 48px;
		width: 800px;
		margin: auto;
}

#two
{
	background-color: black;
	height: 80%;
}

#three
{
	background-color: black;
	height 20%;
}

#text {
	width: 1100px;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	align-items: center;
	justify-content: center;
	margin: auto;
	font-size: 20px;

}

#four
{
	background-image: url(../images/grab.jpg);
}

#five
{
	background-image: url(../images/suspense.jpg);
}

/* MAILCHIMP FORM */

#mc_embed_signup
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30em;
	height: 13em;
	margin: -6.5em 0 0 -15em;

	background: yellow;
}

input
{
	box-sizing: border-box;
	width: 100%;
}

input[type="email"]
{
	padding: .5em;
}

input[type="submit"]
{
	margin: 1em 0;
	background-color: black;
	color: yellow;
	border-radius: .25em;
	border: none;
	padding: .5em;
	/*font-size: 1.5em;*/
}
